@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
  margin:0;
  padding: 0;
}
html{
  font-size: 10px;
   scroll-behavior: smooth;
}
body{
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
ul{
  list-style: none;
  padding-left: 0px !important;

}
a{
  text-decoration: none;
}
.py-5{
  padding-top:70px !important;
  padding-bottom: 70px !important;
}
.my-5{
  margin-top:70px !important;
  margin-bottom: 70px !important;
}
.pt-5{
  padding-top: 70px !important;
}
.pb-5{
  padding-bottom: 70px !important;
}
.mt-5{
  margin-top:70px !important;
}
.mb-5{
  margin-bottom: 70px !important;
}
.header{
  background:linear-gradient(#000000d6, #000000e0), url(../img/team.jpg);
  height:600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .uk-active{
    background: white !important;
    border-bottom: 3px solid #ff5200;
    a{
      color: black;
    }

  }
  nav{

    z-index: 999 !important;

    .logo-part{
      // align-self: center;
      float: left;
      // ;
      img{
        width: 120px;
      }
    }
    #check{
      display: none;
    }
   .checktbn{
     font-size: 30px;
     color:#ff5200;
     float:right !important;
     line-height: 80px;
     margin-right: 40px;
     cursor: pointer;
     display: none;
   }
    ul{


      float: right !important;
      li{
        margin-right: 45px;
        margin-top: 22px;
        float: left;

        a{
          color:#fff;
          text-transform: uppercase;
          font-size: 1.5rem;
          transition: all .3s;
          font-weight: bold;

          text-decoration: none;
        }
      }
      li:first-child a{
        color: #ff5200;
      }
      li:last-child{
        margin-right: 0px;
      }
      li:hover a{
        color: #ff5200;
      }
    }
  }
  #showcase{
    margin-top: 100px;
    .showcase-title{

      h1{
        color: #fff;
        text-transform: capitalize;
        font-size: 5rem;
        margin-bottom: 20px;
        strong{
          color: #ff5200;
        }
      }
    }
    .showcase-social-icon{
      li{
        float: left;
        margin-left: 15px;
        a{
        background: #0000;
        width: 35px;
        height: 35px;
        border:1px solid #ddd;
        display: grid;
        place-items:center;
        color:#fff;
        border-radius: 100%;
        transition: all .3s;
        text-decoration: none;

      }
      }
      li:hover a{
        background: #ff5200;
        color: #fff;
        border:1px solid #ff5200;
        transform: rotate(360deg);
      }
    }
    .showcase-image{

    width: 400px;
    float: right;

      img{
        border:4px solid #ff5200;
      }
    }
    .showcase-btn{
      margin-top: 150px;
      ul{

        .protfolio-btn{
          float: right;
          background: #0000;
          border:2px solid #fff;

        }
        .protfolio-btn:hover{
          background: #ff5200;
          color:#fff;
          border:2px solid #ff5200;

          }
        .hire-btn{
          float: left;
          border:2px solid #ff5200;

        }
        .hire-btn:hover{
          background: #0000;
          color:#fff;
          border:2px solid #fff;

          }
        a{
          text-transform: uppercase;
          color: white;
          background: #ff5200;
          padding: 8px 20px;
          text-decoration:  none;
          border-radius: 2px;
          transition: all .3s;
        }

      }
    }
  }
}


#about{
  margin-top: 180px;
  .container-lg{
    padding-left:0px !important;
  }
  .about-image-pad{
    padding-left: 0px !important;
  }

  .about-border{
    border:4px solid #f89595a3;
    box-shadow: 0px 0px 30px #ff5200ad;
  }

  .about-descp-boxes{
    margin-top: 50px;
    padding:15px 0px;
    h1{
      text-transform: capitalize;
      font-size: 2.8rem;
      font-weight: 600;
      color:#ff5200;
    }
  }


.about-buttons{
  padding-top:40px;
  button{
    border: none;
    padding: 10px 30px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    transition: all .3s;
}
.more-btn{
background: #ff5200 ;
margin-right: 60px;
padding:  12px 32px;
}
.more-btn:hover{
  background: black;
  color: #fff;

}
.contact-btn{
  background: #000;
  margin-left: 60px;
  border:2px solid #000;
}
.contact-btn:hover{
  background: #fff;
  color: #ff5200;
  border:2px solid #ff5200;
}
}

}

#service{
  background:linear-gradient(#000000d6, #000000e0), url('../img/office.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  margin-top: 150px !important;

  .service-boxes{
    padding: 16px 10px;
    background: #fff;
    margin:15px 0px;
    color: #000;
    position: relative;

    height: 250px;
    .icon-box{
      margin: 0 auto;
      width: 100px;


      i{
        font-size: 5rem;
        width: 100px;
        height: 100px;
        background: #ff5200;
        display: grid;
        place-items:center;
        color: #fff;
        position: absolute;

        top:-60px;

        transition: all .3s;


      }

    }
    .service-descp{
      padding-top: 70px;
      h1{
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 600;
      }
    }
  }
}
.service-boxes:hover .icon-box i{
  transform: scale(0.8) !important;

}
#service .service-boxes:after {
  content: "";
  position: absolute;
  border: 4px solid #ff5200;
  width: 100px;
  height: 100px;
  left: 50%;
    top: -60px;
    transform: translateX(-50px);
}


.title{
  text-align: center;
  width: 400px;
  margin: 0 auto;
  padding-bottom:80px;
  h1{
    color:#ff5200;
    font-size: 5rem;
    text-transform: capitalize;
  }
}


#progress-section{
  padding-top: 40px !important;
  .title{
    padding-bottom: 40px;
  }
  .progress-boxes{
    padding: 5px 0px;
    h2{
      text-transform: uppercase;
      font-size: 1.8rem !important;
    }
    .progress{
      background: #ddd;
      height: 14px;
     border-radius: 20px;
     font-size: 1.4rem;
     font-weight: bold;;
    }

  }
  .html{
    .progress-bar{
      background: #E44D26;
      width: 90% !important;
    }
  }
  .css{
    .progress-bar{
      background: blue;
      width: 85%;

    }
  }
  .javasrcipt{
    .progress-bar{
      background: green;
      width: 60%;

    }
  }
  .jquery{
    .progress-bar{
      background: #ff3e50;
      width: 70%;

    }
  }
  .bootstrap{
    .progress-bar{
      background: #5B29A4;
      width: 85%;

    }
  }
  .wordpress{
    .progress-bar{
      background: #207196;
      width: 80%;

    }
  }
  .seo{
    .progress-bar{
      background: #007bff;
      width: 50%;

    }
  }
  .photoshop{
    .progress-bar{
      background: purple;
      width: 60%;

    }
  }

}


#achievement{
  background: linear-gradient(#000000d6, #000000e0), url('../img/achivement.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  .title{
    padding-bottom: 40px;
  }
  .achive-boxes{
    background: #000;
    padding: 10px 0px;
    text-align: center;
    i{
      font-size: 4rem;
      margin-right: 25px;


    }
    strong{
      font-size: 4rem;
      margin-left: 25px;

    }
    h2{
      text-transform: uppercase;
      color: #fff !important;
    }
  }
}

#invite{
  .invite-boxes{
    background:#dddddd61;
    height: 180px;
    padding: 0px 20px;
    position: relative;
    .invite-icon{


          width: 75px;
          margin: 0 auto;


      i{
        font-size: 3rem;
        position: absolute;
        width: 80px;
        height: 80px;
        background: #fff;
        border:2px solid #ddd;
        color:#333;
        display: grid;
        place-items:center;

        border-radius: 100%;
      top:-40px;
      }
    }
    .invite-descp{
      padding-top: 70px;
      p,a{
        text-transform: capitalize;
      }
      a{
        color:#ff5200;
        font-weight: bold;
      }
    }
  }
  .emailbox{
    .invite-descp{
      p{
        text-transform: none;
      }
    }
  }
}

#contact{
  .contact-side{

     input,textarea{
       border:0px !important;
       border-bottom: 1px solid #ddd !important;display: block !important;
       width: 100%;
       padding: 12px 5px;
       margin-bottom:35px;
       font-size: 1.5rem;
     }
     .send-message-btn{
       margin-top: 30px;
       a{
         background: #ff5200;
         padding: 10px 30px;
         text-decoration: none;
         color:#fff;
         border:2px solid #ff5200;
         border-radius: 3px;
         transition: all .3s;
       }
       a:hover{
         background: #000;
         border:2px solid #ff5200;
       }
     }
  }

}

footer{
  background: #000;
  text-align: center;
  margin-top:50px;
  .footer-descp{

    p{
      color: white;
      padding: 20px 0px;
      margin-bottom: 0px;
      text-transform: capitalize;
    }
  }
}


/************/
/**media query**/


/***showcase***/

@media (max-width:1200px){
  header{
    height: 500px !important;

    nav{
      li{
        margin-right: 40px !important;
        a{
          color:#fff;
          text-transform: uppercase;
          font-size: 1.3rem !important;
          transition: all .3s;
          font-weight: bold !important;

          text-decoration: none;
        }
      }
    }
  }
  #showcase{
   .showcase-title h1{
     font-size: 4rem !important;
   }
   .showcase-social-icon{
     padding-left: 10px !important;
     li:first-child{
      margin-left: 0px !important;

    }
   }
   .showcase-btn{
     margin-top: 100px !important;
   }
   .showcase-image{

    width: 350px !important;
    float: right;
   }

  }
  #service{
    .service-boxes .icon-box i{
      width: 89px;
      height: 89px;
    }
    .service-boxes:after{
      width: 89px;
    height: 89px;

    }
  }
  #about{
    .about-descp-boxes{
      margin-top: 0px;
      h1{
        font-size: 2.5rem;
      }
      .about-buttons{
        padding-top:20px;
      }
    }
  }
}

@media (max-width:992px){
nav{
  li{
    margin-right: 20px !important;
    margin-top: 22px;
    float: left;

    a{
      color:#fff;
      text-transform: uppercase;
      font-size: 1.4rem !important;
      transition: all .3s;
      font-weight: normal !important;
      text-decoration: none;
    }
  }
  li:last-child{
    margin-right: 0px !important;
  }
}


  #service{
    .service-boxes{
      .icon-box{
        i{
          top:-45px !important;
        }
      }
    }
    .service-boxes:after{
      top:-45px !important;
    }
  }
}
@media (max-width:870px){

  header{
    height: 420px !important;
    .logo-part{
      img{
        width: 100px !important;
      }
    }

    nav{
      li{
        margin-right: 20px !important;
        a{
          color:#fff;
          text-transform: uppercase;
          font-size: 1.3rem !important;
          transition: all .3s;
          font-weight: normal !important;

          text-decoration: none;
        }
      }
    }

  }

  #showcase{
    margin-top: 50px !important;

    .showcase-title h1{
      font-size: 3.5rem !important;
    }
    .showcase-image{
    width: 290px !important;
    }
    .showcase-btn{
      margin-top: 60px !important;

    }
  }

  #about{
    .about-descp-boxes{
      h1{
        font-size: 2.2rem;
        margin-bottom: 0px !important;
      }
      .about-buttons{
          padding-top:0px;
          .more-btn{
            font-size: 1.4rem;
            margin-right: 39px;
            padding: 8px 15px;

          }
          .contact-btn{
            font-size: 1.4rem;
            margin-right: 39px;
            padding: 6px 13px;
        }
    }
  }
}
}




@media (max-width:768px) {
  .responsive-row{
    height: 80px;
  }
  .checktbn{
    display: block !important;
  }
  .navManu{
     transform: scaleX(0);
     transform-origin: left;

   }
   .nav-wrapper{
     padding-left: 0px !important;
   }
   .navManuAss{
    opacity: 1 !important;
    position: fixed;
    height: 300px;
    background: #000;
    text-align: center;
    width: 100%;
    transform: scaleX(1);
    z-index: 999;
    top: 80px;
    transition: all .2s;

      li{
        margin-right: 0px !important;
        margin-top: 30px !important;
        float: none !important;
        display: block !important;
        a{
          color:#fff !important;

          font-size: 1.5rem !important;
          transition: all .3s;
          font-weight: bold !important;

          text-align: center !important;
        }
      }
      li:first-child a{
        color: #ff5200 !important;
      }
      li:last-child{
        margin-right: 0px;
      }
      li:hover a{
        color: #ff5200 !important;
      }

  }





//////////
  #showcase{
    .showcase-btn{
      margin-top: 80px !important;
      padding-right: 40px !important;

    }
  }
  #about{
    .about-buttons{
      padding:20px 0px !important;
    }
  }
  #service{
    .service-boxes{
      margin-bottom: 80px !important;
      h1{
        margin-bottom: 15px !important;
      }
    }
  }
  #achievement{
    .achive-boxes{
    margin-bottom: 20px !important;
    }
  }
  #invite{
    .invite-boxes{
      margin-bottom: 60px !important;
    }
  }
}


@media (max-width:575px){
.title{
  width: 100% !important;
}
}
